.MatchDetailCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    margin-top: 10px;

    .match-date .match-venue .match-result {
        margin-top: 5px;
    }
    .main-info {
        grid-column: span 1;

        .team-name {
            font-size: 2rem;
        }
    }
    .additional-details {
        grid-column: span 1;
        text-align: right;
        & > p {
            margin-bottom: 10px;
        }
    }

    
}
